.main{
    position: fixed;
    background-color: rgb(38, 49,80);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, rgba(100, 95, 95, 0.655), rgba(169, 173, 169, 0.835)), url("./COVID1.jpg");

    /* background-image: url("./COVID1.jpg"); */
    background-size: cover;
}

.MapSection{
    /* border: 2px solid black; */
    height: 100%;
    width: 40%;
    margin-top: 30px;
    margin-right: 0px;
}

.DataSection{
    /* border: 2px solid red; */
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Change_Country_HighLight{
    width: 100%;
    height: 25%;
    border-radius: 8px;
    margin-bottom: 0em;
    background-color: red;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}
.Change_Country_HighLight:hover{
    transition:  0.9s ease-out;
    transform: translateY(2px) ;

}
.Change_Country{
    background-color: aliceblue;
    width: 230px;
    height: 160px;
    margin-left: 2%;
    margin-top: 100px;
    border-radius: 8px;
    /* padding: 10px; */
    opacity: .4;
    display: flex;
    box-shadow: 0 24px 25px rgb(0,0,0,.5);
}

.ConfirmCases{
    background-color: aliceblue;
    width: 130px;
    height: 160px;
    margin-left: 1%;
    margin-top: 100px;
    border-radius: 8px;
    /* padding: 10px; */
    opacity: .4;
    box-shadow: 0 24px 25px rgb(0,0,0,.5);
    display: flex;
    

}
.ConfirmCases_HighLight{
    width: 100%;
    height: 25%;
    border-radius: 8px;
    margin-bottom: 0em;
    background-color: red;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}
.ConfirmCases_p{
    color: white;
    margin-top: 9px;
}
.ConfirmCases:hover{
    background-color: rgb(235, 100, 100);
    transition:  0.9s ease-out;
    background-image: linear-gradient(to right, rgb(235, 100, 100),rgb(235, 100, 130));
    transform: translateY(2px) ;
}
.ConfirmCases:hover .ConfirmCases_p{
    color: white;
}

.Recover{
    background-color: aliceblue;
    width: 130px;
    height: 160px;
    margin-left: 1%;
    /* margin-top: -17%; */
    margin-top: 100px;
    display: flex;
    border-radius: 8px;
    /* padding: 5px; */
    opacity: .4;
    box-shadow: 0 24px 25px rgb(0,0,0,.5);
}
.Recover_HighLight{
    width: 100%;
    height: 25%;
    border-radius: 8px;
    margin-bottom: 0em;
    background-color: rgb(71, 156, 139);
    align-self: flex-end;
    display: flex;
    justify-content: center;
}
.Recover:hover{
    background-color: rgb(235, 100, 100);
    transition:  0.9s ease-out;
    background-image: linear-gradient(to right,rgb(139, 235, 159), rgb(71, 156, 139));
    transform: translateY(2px) ;
}
.Recover_h{
    color: white;
    margin-top: 9px;

}
.Recover:hover .Recover_h{
    color: white;
}
.ActiveCases{
    background-color: aliceblue;
    width: 130px;
    opacity: .4;
    height: 160px;
    margin-left: 1%;
    margin-top: 100px;
    border-radius: 8px;
    /* padding: 10px; */
    display: flex;
    box-shadow: 0 24px 25px rgb(0,0,0,.5);
}
.ActiveCases_HighLight{
    width: 120%;
    height: 25%;
    border-radius: 8px;
    /* margin-bottom: 0em; */
    background-color:rgb(235, 100, 130);
    align-self: flex-end;
    display: flex;
    justify-content: center;
}
.ActiveCases:hover{
    background-color: rgb(109, 109, 235);
    transition:  0.9s ease-out;
    background-image: linear-gradient(to right, rgb(109, 109, 235),rgb(235, 100, 130));
    transform: translateY(2px) ;
}
.ActiveCases_h{
    color: white;
    margin-top: 9px;
}
.ActiveCases:hover .ActiveCases_h{
    color: white;
}
.Deceased{
    background-color: aliceblue;
    width: 130px;
    height: 160px;
    /* margin-top: -17%; */
    margin-top: 100px;
    display: flex;
    margin-left: 1%;
    border-radius: 5px;
    /* padding: 10px; */
    opacity: .4;
    box-shadow: 0 24px 25px rgb(0,0,0,.5);
}
.Deceased_HighLight{
    width: 100%;
    height: 25%;
    border-radius: 8px;
    margin-bottom: 0em;
    background-color: rgb(178, 165, 170);
    align-self: flex-end;
    display: flex;
    justify-content: center;
}
.Deceased:hover{
    background-color: rgb(172, 162, 162);
    transition:  0.9s ease-out;
    background-image: linear-gradient(to right, rgb(172, 162, 162),rgb(235, 100, 130));
    transform: translateY(2px) ;
}
.Deceased_h{
    color: white;
    opacity: 1;
    margin-top: 9px;
}
.Deceased:hover .Deceased_h{
    color: white;
}

.DataContainer{
    background-color:rgb(40, 40, 42,.3);
    border-radius: 5px;
    margin: auto;
    width: 80%;
    height: 80%;
}

.Map_data{
    width: 100%;
    height: 100px;
    
    display: flex;

}

.LoliPopChart{
    width: 50%;
    height: 30%;
    background-color: aliceblue;
    opacity: .5;
}